*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-size: cover; /* This makes the image cover the whole background */
     /* This prevents the image from repeating */
  }
  

body{
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em 0;
}
nav{
    background-color: rgb(220, 226, 214);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}
h1{
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 4em;
    margin-left: 20px;
}
#search-input{
   max-width: 400px;
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   font-size: 18px;
   color: #000;
}
#Search-button{
    padding: 10px 20px;
    background-color: rgb(49, 52, 54);
    border: none;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 20px;
}